{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <h5 class=" about">This is a 5th-semester AP mini-project created by Sankeerth S, Varshith Reddy, and Shaun Santhosh</h5>

    <div class="content-section">
        <p>
            We are currently in a world where the internet is comprised of an uncountable amount of information. Billions of
            interactions are made every day throughout the world and one of the key elements is the ability to communicate with
            anyone. This perk of the internet allows us to broaden the spectrum of our knowledge. There are various tools and
            resources for education online on a large scale, but when it comes to the college network the resources are far and few.    
        </p>
        <p>
            The goal was to create a website for Manipal Institute of Technology where college resources and questions can all be
            shared on one common platform. Students can share queries under various categories and other users can answer these
            queries in the comments. This mini project was done to get better understanding of the skills that are needed in website
            design and development. This unified platform is a part of a much larger vision to integrate all informal college
            communication into the website.
        </p>
        <p>
            The project is developed in the Django framework which is a free and open-source high-level Python web framework to
            develop web applications. It provides a set of components that help you develop websites faster and easier such as
            methods of user authentication and a management panel for your website.
        </p>
    </div>
{% endblock content %}
